
body {
    margin: 0px;
}



.container {
    display: block;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #0B2447;
}

.footer-links {
    display: flex;
}

.footer-link{
    margin: 0px 30px 50px;
    text-align: center;
}

.footer-link > a {
    color: #576CBC;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #A5D7E8;
}